header {
    top: 30px;
    left: 20px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(6, 148, 68);

}

.navbar a {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 35px;
}

body {
    background-color: black;
    border: 5px solid rgb(6, 148, 68);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 200px;
    height: 300px;
    margin-left: 990px;
    margin-bottom: 400px;
    border-radius: 30%;
    padding: auto;

}

h1 {
    color: white;
    margin-left: 300px;
    padding-top: 100px;

}

p {
    color: white;
    margin-left: 300px;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa-facebook {
    background: rgb(6, 148, 68);
    color: white;

  }
  .fa-twitter {
    background: rgb(6, 148, 68);
    color: white;

  } 
  .fa-instagram {
    background: rgb(6, 148, 68);
    color: white;

  }
  .fa-linkedin {
    background: rgb(6, 148, 68);
    color: white;

  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
