h3 {
    color: white;
    font-style: italic;
    margin-left: 100px;
    margin-top: 100px;

}

body {
    background-color: black;
    border: 5px solid rgb(6, 148, 68);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 200px;
    height: 300px;
    margin-left: 990px;
    margin-bottom: 400px;
    border-radius: 30%;
    padding: auto;

}

h1 {
    color: white;
    margin-left: 300px;
    padding-top: 100px;

}

p {
    color: white;
    margin-left: 300px;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa-facebook {
    background: rgb(6, 148, 68);
    color: white;
    

  }
  .fa-twitter {
    background: rgb(6, 148, 68);
    color: white;

  } 
  .fa-instagram {
    background: rgb(6, 148, 68);
    color: white;

  }
